.output-card{
    border: 1px solid #ccc;
    margin: 10px auto;
    width: 30%;
    padding: 15px;
    background-color: white;
    text-align: left;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}